body {
    background-color: #fffcf2;
}

.main {
    z-index: 1;
}

.menuItem {
    font-family: "Poppins";
    font-weight: 600;
    color: black;
    transition: all .5s;
}

.logo {
    width: 4.65em;
    height: 6em;
}

/* Seccion del menu mobil*/
.collapseMenuBar {
    height: 100px;
    background: #9BAF85;
}

.hamburgerButton {
    margin-top: 10px;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: #9BAF85;
    transition: all 0.15s;

}

.xSymbol {
    height: 60px;
    width: 60px;
    transition: all 0.15s;
}

.mobileMenu {

    position: absolute;
    height: 100%;
    max-height: 0;
    width: 100%;
    background-color: #9BAF85;
    z-index: 3;
    overflow-y: hidden;
    transition: all 1s;
}

.mobileMenuOptions {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2em;
    color: black;
    transition: all .5s;
}

/* Aqui se acaba esta seccion*/

.title {
    font-size: 4.5em;
    font-family: "Poppins";
}

.resumeAndButton {
    width: 100%;

}

.downloadButton {
    height: 50px;
    border-radius: 3px;
    width: 50%;

}

.downloadButton a {
    text-decoration: none;
    color: black;
}

.resumeIMG {
    border: 5px solid #bcb8b1;

}

.sub {
    width: 75%;
}

/*Estos transforman en italics las opciones del menu*/
.menuItem:hover {
    font-size: 1.04rem;
    color: #D4A373;
}

/*Esto es para el hover del hamburger*/

.hamburgerButton:hover {
    border: 5px solid #bcb8b1;

}

.xSymbol:hover {
    border-radius: 5px;
    border: 5px solid #bcb8b1;
}

@media(max-width:767px) {
    .resumeIMG {
        border: 5px solid #bcb8b1;
        width: 100%;

    }
}